<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001XMLSchema-instance" 
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"> -->
<beans>
   <bean id="cloudProviderMgr" class="com.vmware.bdd.manager.VcProviderManager" >
      <property name="rpMgr">
         <ref bean="rpManager" />
      </property>
      <property name="datastoreMgr">
         <ref bean="datastoreManager" />
      </property>
   </bean>
   <bean id="clusterConfigMgr" class="com.vmware.bdd.manager.ClusterConfigManager" >
      <property name="rpMgr">
         <ref bean="rpManager" />
      </property>
      <property name="networkMgr">
         <ref bean="networkManager" />
      </property>
      <property name="distroMgr">
         <ref bean="distroManager" />
      </property>
      <property name="datastoreMgr">
         <ref bean="datastoreManager" />
      </property>
      <property name="rackInfoMgr">
         <ref bean="rackInfoManager" />
      </property>
   </bean>
   <bean id="taskManager" class="com.vmware.bdd.manager.TaskManager" />
   <bean id="networkManager" class="com.vmware.bdd.manager.NetworkManager" />
   <bean id="distroManager" class="com.vmware.bdd.manager.DistroManager" />
   <bean id="rpManager" class="com.vmware.bdd.manager.VcResourcePoolManager" />
   <bean id="rackInfoManager" class="com.vmware.bdd.manager.RackInfoManager" />
   <bean id="datastoreManager" class="com.vmware.bdd.manager.VcDataStoreManager" />
   <bean id="clusterManager" class="com.vmware.bdd.manager.ClusterManager">
      <property name="cloudProviderMgr">
         <ref bean="cloudProviderMgr" />
      </property>
      <property name="clusterConfigMgr">
         <ref bean="clusterConfigMgr" />
      </property>
      <property name="networkManager">
         <ref bean="networkManager" />
      </property>
      <property name="taskManager">
         <ref bean="taskManager" />
      </property>
      <property name="distroManager">
         <ref bean="distroManager" />
      </property>
   </bean>

   <bean id="requestLoggingFilter"
      class="org.springframework.web.filter.CommonsRequestLoggingFilter">
      <property name="includeQueryString" value="true" />
      <property name="includeClientInfo" value="true" />
   </bean>

   <bean id="runtimeConnectionManager" class="com.vmware.bdd.manager.RuntimeConnectionManager" init-method="init" destroy-method="destroy"/>

</beans>