<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
   xmlns="http://www.springframework.org/schema/security"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:beans="http://www.springframework.org/schema/beans"
   xmlns:sec="http://www.springframework.org/schema/security"
   xsi:schemaLocation="
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
   
   <http entry-point-ref="restAuthenticationEntryPoint" auto-config="true">
      <intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY"/>
      <form-login  
         authentication-failure-handler-ref="noRedirectFailureHandler"
         authentication-success-handler-ref="noRedirectSuccessHandler"/>
      <logout invalidate-session="true"/>
   </http>

   <beans:bean id="noRedirectSuccessHandler" class="com.vmware.bdd.rest.NoRedirectSuccessHandler"/>
   <beans:bean id="noRedirectFailureHandler" class="com.vmware.bdd.rest.NoRedirectFailureHandler"/>
   <beans:bean id="restAuthenticationEntryPoint" class="com.vmware.bdd.rest.RestAuthenticationEntryPoint"/>

   <authentication-manager alias="authenticationManager">
      <authentication-provider>
         <user-service>
            <user name="serengeti" password="password" authorities="ROLE_ADMIN"/>
         </user-service>
      </authentication-provider>
   </authentication-manager>

</beans:beans>