<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--
      - Location of the XML file that defines the root application context
      - Applied by ContextLoaderListener.
      -->
	<display-name>serengeti</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		   WEB-INF/spring/*-context.xml
		</param-value>
	</context-param>
    <filter>
       <filter-name>encodingFilter</filter-name>
       <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
       <init-param>
           <param-name>encoding</param-name>
           <param-value>UTF-8</param-value>
       </init-param>
   </filter>
   <filter-mapping>
      <filter-name>encodingFilter</filter-name>
      <url-pattern>/j_spring_security_check</url-pattern>
   </filter-mapping>
   <filter>
      <filter-name>httpMethodFilter</filter-name>
      <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>httpMethodFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

   <filter>
      <filter-name>springSecurityFilterChain</filter-name>
      <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
   </filter>

   <filter>
      <filter-name>requestLoggingFilter</filter-name>
      <filter-class>org.springframework.web.filter.CommonsRequestLoggingFilter</filter-class>
         <init-param>
            <param-name>includeQueryString</param-name>
            <param-value>true</param-value>
         </init-param>
	     <init-param>
            <param-name>includeClientInfo</param-name>
            <param-value>true</param-value>
         </init-param>
   </filter>

   <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

   <filter-mapping>
      <filter-name>requestLoggingFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>		
	</listener>
	
	<listener>
		<listener-class>com.vmware.bdd.web.ResourceInitializer</listener-class>
	</listener>

	<!-- Servlet for REST APIs -->
	<servlet>
		<servlet-name>restapi</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/restapi-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>restapi</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<!-- End REST API server --> 
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Everything is https</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
