<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<http entry-point-ref="restAuthenticationEntryPoint" auto-config="true"
		use-expressions="false" disable-url-rewriting="false">
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />
		<form-login authentication-failure-handler-ref="noRedirectFailureHandler"
			authentication-success-handler-ref="noRedirectSuccessHandler"
			username-parameter="j_username" password-parameter="j_password"
			login-processing-url="/j_spring_security_check" />
		<logout invalidate-session="true" logout-url="/j_spring_security_logout" />
		<!-- CSRF is enabled by default in Spring Security 4. Disable it for now. -->
		<csrf disabled="true" />
	</http>

	<beans:bean id="noRedirectSuccessHandler" class="com.vmware.bdd.rest.NoRedirectSuccessHandler" />
	<beans:bean id="noRedirectFailureHandler" class="com.vmware.bdd.rest.NoRedirectFailureHandler" />
	<beans:bean id="restAuthenticationEntryPoint" class="com.vmware.bdd.rest.RestAuthenticationEntryPoint" />

	<beans:bean id="authenticationManager"
		class="org.springframework.security.authentication.ProviderManager">
		<beans:constructor-arg ref="userAuthenticationProvider" />
	</beans:bean>

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="userAuthenticationProvider" />
	</authentication-manager>

	<beans:bean id="userService" class="com.vmware.bdd.security.service.impl.UserService" />
	<beans:bean id="userAuthenticationProvider" class="com.vmware.bdd.security.UserAuthenticationProvider">
		<beans:property name="userService" ref="userService" />
	</beans:bean>
</beans:beans>

